.dag {
  width: 10em;
  text-align: center;
  display: inline-block;
  &__dag {
    background-color: #185cb5;
    color: white;
  }
  &__datum {
    background-color: #185cb5;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
}